.vscode/
compiled/
components/
images/
lib/
modelData/
schema/
styles/
test/
.DS_Store
cs142password.js
index.html
loadDatabase.js
nodemon.json
package-lock.json
package.json
photo-share.html
photoShare.jsx
submission.txt
webpack.config.js
webServer.js
yarn.lock